.navbar {
    display: flex;
    background-color: #333;
    justify-content: left;
    padding: 1rem;
  }
  
  .navbar a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .active{
    color: red !important;
  }

