<div class="content-container">
    <div class="image-container">
      <img src="assets/images/edit.png" alt="Descriptive Image">
    </div>


<div class="register-container">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email">
        <div *ngIf="adminForm.get('email')?.invalid && (adminForm.get('email')?.dirty || adminForm.get('email')?.touched)">
          <small class="text-danger">Valid email is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" formControlName="fullName" id="fullName">
        <div *ngIf="adminForm.get('fullName')?.invalid && (adminForm.get('fullName')?.dirty || adminForm.get('fullName')?.touched)">
          <small class="text-danger">Full name is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" formControlName="salary" id="salary">
        <div *ngIf="adminForm.get('salary')?.invalid && (adminForm.get('salary')?.dirty || adminForm.get('salary')?.touched)">
          <small class="text-danger">Valid salary is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="joinDate">Join Date</label>
        <input type="date" formControlName="joinDate" id="joinDate">
        <div *ngIf="adminForm.get('joinDate')?.invalid && (adminForm.get('joinDate')?.dirty || adminForm.get('joinDate')?.touched)">
          <small class="text-danger">Join date is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="tel" formControlName="telephone" id="telephone">
        <div *ngIf="adminForm.get('telephone')?.invalid && (adminForm.get('telephone')?.dirty || adminForm.get('telephone')?.touched)">
          <small class="text-danger">Valid telephone number is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Addres</label>
        <input type="tel" formControlName="address" id="address">
        <div *ngIf="adminForm.get('address')?.invalid && (adminForm.get('address')?.dirty || adminForm.get('address')?.touched)">
          <small class="text-danger">Addres required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="role">Role</label>
        <select formControlName="role" id="role">
          <option value="1">Admin</option>
          <option value="2">Employee</option>
        </select>
        <div *ngIf="adminForm.get('role')?.invalid && (adminForm.get('role')?.dirty || adminForm.get('role')?.touched)">
          <small class="text-danger">Role is required</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="!adminForm.valid">Update</button>
    </form>
  </div>

  </div>