<div class="container">
    <div class="image-container">
      <img src="assets/images/EmployeeNew.png" alt="Descriptive Alt Text">
    </div>
    <div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" required>
        <div *ngIf="changePasswordForm.get('email')?.invalid && (changePasswordForm.get('email')?.dirty || changePasswordForm.get('email')?.touched)">
          <small class="text-danger">Valid email is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" formControlName="currentPassword" id="currentPassword" required>
        <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
          <small class="text-danger">Current password is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" id="newPassword" required>
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
          <small class="text-danger">New password is required</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" required>
        <div *ngIf="changePasswordForm.get('confirmNewPassword')?.invalid && (changePasswordForm.get('confirmNewPassword')?.dirty || changePasswordForm.get('confirmNewPassword')?.touched)">
          <small class="text-danger">Please confirm your new password</small>
        </div>
        <div *ngIf="changePasswordForm.get('confirmNewPassword')?.errors && (changePasswordForm.get('confirmNewPassword')?.dirty || changePasswordForm.get('confirmNewPassword')?.touched)">
          <small class="text-danger">Passwords do not match</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
    </form>
  </div>
  </div>
