.container {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px; /* Padding around the container */
  }
  
  .image-container {
    flex: 1; /* Takes up equal space as the form container */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    padding: 20px; /* Padding around the image container */
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 90vh; /* Adjust based on your needs */
    object-fit: cover; /* Adjust how the image fits in the container */
  }
  
  .change-password-container {
    flex: 1; /* Takes up equal space as the image container */
    max-width: 400px; /* Maximum width of the form container */
    margin: 20px; /* Margin around the form container */
    padding: 20px; /* Padding inside the form container */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    /* Added for better spacing and alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.text-danger {
    color: #dc3545;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack vertically on small screens */
    }
    .image-container, .change-password-container {
      flex: none;
      max-width: 100%; /* Allow each container to take full width */
      margin: 10px 0; /* Adjust margin for vertical stacking */
    }
  }